<html>
    <head>
        <link rel="stylesheet" href="/css/menu.css">
        <title>Veg Page</title>
    </head>
    <body>
        <div class="container">
            <div class="card">
                <img src="/img/veg/Dal_makhani.jpg">
                
                <form action="/addToCart">
                	<div class="title"><input type="text" name="name" value="Dal Makhani" readonly>  </div>
                    <h4>price<input type="number" name="price" value="150" readonly ></h4>
                   <h4>Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="qty" value="1" type="number"></h4>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="card">
                <img src="/img/veg/dal_tadka.jpg">
                <div class="title"> Dal Tadka </div>
                <form action="/addToCart">
                    <h4>₹120.00</h4>
                    <h4>Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number"></h4>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="card">
                <img src="/img/veg/malai_kofta.jpg">
                <div class="title"> Malai Kofta </div>
                <form action="/addToCart"><h4>₹175.00</h4>
                    <h4>Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number"></h4>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="card">
                <img src="/img/veg/misal_pav.jpg">
                <div class="title"> Misal Pav </div>
                <form action="/addToCart">
                    <h4 id="name">₹120.00</h4>
                    <h4 >Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="qty" value="1" type="number"></h4>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
            <div class="card">
                <img src="/img/veg/palak_paneer.jpg">
                <div class="title"> Palak Paneer </div>
                <form action="/addToCart">
                    <h4>₹200.00</h4>
                    <h4>Qty:<input class="quantity" id="id_form-0-quantity" min="0" name="form-0-quantity" value="1" type="number"></h4>
                    <button type="submit">Add to Cart</button>
                </form>
            </div>
        </div>
    </body>
</html>
   